<label>Nome</label><br>

<input
type="text"
name="nome"
value="{{usuario.nome}}">

<br><br>

<label>Email</label><br>

<input
type="email"
name="email"
value="{{usuario.email}}">

<br><br>

<button type="submit">

Atualizar

</button>

</form>